html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
}

app-footer {

}

#popup-modal2 {
  overflow: auto;
}

.custom-image {
  transition: transform 0.3s ease;
}

.custom-image:hover {
  transform: scale(1.05);
}

